    <div class="pt-1 border-bottom bg-secondary bg-opacity-25">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
        <a class="btn btn-primary btn-md mb-1" href="/profile">Profile</a>
        <a class="btn btn-primary btn-md mb-1" href="/feed">Feed</a>
        <a class="btn btn-primary btn-md mb-1" href="/logout" >Logout</a>
    </div>
    </div>
    
  </body>
</html>  